<!-- Site wrapper -->
<div class="wrapper">

  <go-header></go-header>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; 2018 <a href="https://www.gabaritooficial.com.br">Gabarito Oficial</a>.</strong> Todos os direitos reservados.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
