<div class="box box-widget widget-user">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-black" style="background: url('../assets/img/photo3.jpg') center center;">
    <h3 class="widget-user-username">Curso Top 10 ENEM</h3>
    <h5 class="widget-user-desc">Física</h5>
  </div>
  <div class="box-footer">
    Curso com resolução de questões de física

    <p><small>Eduardo Cavalcanti</small></p>
    <!-- <p><go-rating></go-rating></p> -->

    <div class="pull-right">
      <h4> <small> <s>R$ 80,00</s> </small> <b>R$ 50,00</b></h4>
    </div>
  </div>
</div>
